@mixin clearfix() {
    $selector: &;

    @at-root {
        #{$selector}::before,
        #{$selector}::after {
            content: '';
            display: table;
        }

        #{$selector}::after {
            clear: both;
        }
    }
}
